.md-typeset h1 {
    font-weight: 700;
    font-style: normal
}

.md-typeset h2 {
    font-weight: 600;
    font-style: normal
}

.md-typeset h3 {
    font-weight: 600;
    font-style: normal
}

.md-typeset h4 {
    font-weight: 700;
    font-style: normal
}

.md-header-nav__topic {
    font-weight: 900;
    font-style: normal
}

.md-header__button.md-logo {
    margin: .2rem;
    padding: .2rem;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
    width: 1.6rem;
    height: 1.6rem;
}