// Other configs
.md-typeset .admonition, .md-typeset details {
    font-size: .75rem
}

// mermaid
.mermaid-container {
  overflow-y: hidden;
  height: 0;
  min-height: 0;
  &.show {
    height: inherit;
    min-height: inherit;
  }
}

.mermaid {
  text-align: center;
}
